<!-- 
    The anchor placement happens in computing.html
    This is just defines the anchors.
-->
<h4>Contents</h4>
<a href="#Introduction">
        Introduction
</a><br>
<a href="#OperatingSystem">Operating System</a><br>
<a href="#MySetup">My Setup</a><br>
<a href="#Programming">Programming Languages</a><br>
<a href="#ComposingDocs">Composing Documents</a><br>
<a href="#Vim">Vim</a><br>
<a href="#References">References</a><br>
<a href="#ConfigFiles">Configuration Files</a><br>
<a href="#Footnotes">Footnotes</a>
