{% include header.html %}

<!-- Will text on the left and a scrollable list of links on the right -->
<div class="row-fluid">


    <!-- Text to have about me -->
    <div class="col-lg-6 col-lg-offset-2">
        {{ content }}
    </div>

    <!-- Links about me -->
    <div class="col-lg-2 col-lg-offset-1">
        <div class="affix">
            <style>
                #thumb {
                    width: 95px;
                    float: left;
                    padding-top: 5px;
                }
            </style>
            <div style="padding-top: 20px">
                <img src="/imgs/profpic.jpg" class="img-circle" id="thumb">
            </div>
            <div style="padding-left: 90pt">
                {% include about_links.html %}
            </div>
            <div style="padding-top: 20pt">
                {% include reading_links.html %}
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
